<div class="widget">
<div class="widget-head">
	<div class="pull-left">菜单列表</div>
	<div class="widget-icons pull-right">
		<a href="#" class="wminimize"><i class="icon-chevron-up"></i>
		</a> <a href="#" class="wclose"><i class="icon-remove"></i>
		</a>
	</div>
	<div class="clearfix"></div>
</div>
<div class="widget-content">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>菜单名</th>
				<th>图标</th>
				<th>url</th>				
			</tr>
		</thead>
		@for(item in page.list){
		<tbody>
			<tr>
				<td>${item.id!}</td>
				<td>${item.name!}</td>
				<td>${item.icon!}</td>
				<td>${item.url!}</td>
			</tr>
			@}
		</tbody>
	</table>
	<#paginate page="${page}" />
</div>
</div>