<div class="main-container" id="main-container">	
	<!-- 左部树结构 -->
@layout("/layout/tree.html",{menuList:menuList!}){}
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>
	<!-- Main bar -->
  	<div class="mainbar" id="mainbar">
		<!-- Matter -->
		<div class="matter">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
		${layoutContent!}
					</div>
				</div>
			</div>
		</div>
	</div>
   <!-- Mainbar ends -->
   <div class="clearfix"></div>
   
</div>