<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>登陆页面</title> 
   <!-- JS -->
  <script src="${ctxPath}/static/js/jquery-1.10.2.js"></script>
  <script src="${ctxPath}/static/js/jquery.tips.js"></script>
  <script src="${ctxPath}/static/js/bootstrap.js"></script>
  <script type="text/javascript" src="${ctxPath!}/static/layer/layer.js"></script>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="${ctxPath}/static/style/bootstrap.css">
 <!--  <link rel="stylesheet" href="${ctxPath}/static/style/font-awesome.css"> -->
   <link rel="stylesheet" href="${ctxPath}/static/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="${ctxPath}/static/style/style.css">
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="../static/js/html5shim.js"></script>
  <![endif]-->
  <!-- Favicon -->
</head>

<body>

<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                 <i class="fa fa-lock"></i> 登陸 
              </div>

              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                  <form class="form-horizontal">
                    <!-- Email -->
                    <div class="form-group">
                      <label class="control-label col-lg-3">用户名</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" id="inputUserName" value="admin" placeholder="请输入用户名">
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputPassword">密码</label>
                      <div class="col-lg-9">
                        <input type="password" class="form-control" id="inputPassword" value="admin"placeholder="请输入密码">
                      </div>
                    </div>
                    <!-- Remember me checkbox and sign in button -->
                    <div class="form-group">
					<div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label>
                          <input id="remember" type="checkbox"> 记住密码
                        </label>
						</div>
					</div>
					</div>
                        <div class="col-lg-9 col-lg-offset-2">
							<button type="button" class="btn btn-danger" onclick="severCheck();">登陆</button>
							<button type="reset" class="btn btn-default">重置</button>
						</div>
                    <br />
                  </form>
				</div>
                </div>
                <div class="widget-foot">
                  没有注册？<a href="${ctxPath}/register">点我注册</a>
                </div>
            </div>  
      </div>
    </div>
  </div> 
</div>
</body>
<script type="text/javascript">
$(function(){
	$("#inputUserName,#inputPassword").keydown(function(e){
		if(e.keyCode==13){
			severCheck();
		}
	});
});
//服务器校验
function severCheck(){
	if(check()){
		loginName = $('#inputUserName').val();
		loginPwd = $('#inputPassword').val();
		var remPwd = "no";
		if($("#remember").prop("checked")){//记住密码
			remPwd = "yes";
		}
		$.ajax({
			//async:false,
			type: "POST",
			url: '${ctxPath}/loginCheck',
	    	data: {
	    		loginName:loginName,
	    		loginPwd:loginPwd,
	    		remPwd:remPwd	
	    	},
			dataType:'json',
			cache: true,
			success: function(data){ 
				 if(undefined != data.error){
						$t = $("#inputUserName");
						if(data.error.indexOf('密码错误')!=-1){
							$t =$("#inputPassword");
						}
						$t.tips({
							side : 2,
							msg : data.error,
							bg : '#4F4F4F',
							time : 3
						});
						$t.focus();
				 }else{ 
					window.location.href = "${ctxPath!}/index";
				 }
			}
		});
	}
}
//客户端校验
function check() {
	if ($("#inputUserName").val() == "") {
		$("#inputUserName").tips({
			side : 2,
			msg : '用户名不得为空',
			bg : '#4F4F4F',
			time : 3
		});
		$("#inputUserName").focus();
		return false;
	}else {
		$("#inputUserName").val(jQuery.trim($('#inputUserName').val()));
	}
	if ($("#inputPassword").val() == "") {
		$("#inputPassword").tips({
			side : 2,
			msg : '密码不得为空',
			bg : '#4F4F4F',
			time : 3
		});

		$("#inputPassword").focus();
		return false;
	}
	return true;
}
	
</script>
</html>